.wrapper {
    display: flex;  
    flex-flow: row wrap;
    background: lightgray;
    padding: 1.5em;
    margin: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

.wrapper-1 {
    background: whitesmoke;
}
  
.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}
  
.main {
    text-align: justify;
    text-justify: inter-word;
}

.main-2 {
    padding: 1em;
}

.main-4 {
    text-align: left;
}

.aside {
    justify-content: center;
    align-items: center;
    margin: auto;
}
  
@media all and (min-width: 800px) {
    .aside { flex: 1 0 0; }
    .main { flex: 3 0px; }
    .main-1 { order: 1; }
    .aside-1 { order: 2; }
    .main-2 { order: 2; padding-right: 5em; }
    .aside-2 { order: 1; }

    .aside-3 { order: 1 }
    .main-3 { order: 2; padding-top: 2em; text-align: left;}

    .main-4 { order: 2; padding-right: 5em; }
}
