body {
	background-color: whitesmoke;
}

h1 {
	color: black;
	font-family: "Arial";
}

p {
	color: black;
	font-family: "Arial";
	font-size: 20px;
}

.code {
	color: black;
	font-family: "Courier New";
	font-size: 14px;
	background: darkgrey;
	width: 1000px;
	padding: 1em;
}

.top {
	width: device-width;
	padding: 1em;
	margin: 1em;
}

.bot {
	overflow: auto;
	background-color: lightgrey;
	width: device-width;
	padding: 2em;
	margin: 2em;
	margin-top: 0em;
}

.img1 {
	float: left;
	padding: 2em;
	height: 20em;
	width: 13em;
}

.img2 {
	float: left;
	height: 4em;
	width: 4em;
	padding-left: 2em;
	padding-right: 2em;
}

.img3 {
	float: right;
	height: 20em;
	width: 20em;
	padding: 3em;
}

.img4 {
	float: right;
	height: 20em;
	width: 30em;
	padding: 3em;
}

a.button {
	border: none;
	color: black;
	padding: 1em 1em;
	font-size: 20px;
	font-family: "Arial";
	text-decoration: none;
	display: inline-block;
	margin: 4px 4px;
}

a.button:hover {
	color: lightsalmon;
}

a.selected {
	color: lightsalmon;
}

a.mail:link {
	text-decoration: none;
	color: black;
	font-family: "Arial";
	font-size: 20px;
	padding-left: 2em;
}

a.mail:hover, a.mail:active {
	color: rgb(207, 134, 105);
}

